<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(title,body)">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}" />
<title th:text="${title}"></title>
</head>
<body th:classappend="${session.user} ? user">
	<!--/* ヘッダー */-->
	<header >
		<div th:replace="~{common/header :: non-user}"></div>
	</header>

	<!--/* メイン */-->
	<article class="container content">
		<div th:replace="${body}"></div>
	</article>

	<!--/* フッター */-->
	<footer>
		<div th:replace="~{common/footer :: footer}"></div>
	</footer>
</body>
</html>