<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/common/navi.css}" />
</head>

<body>
	<ul th:fragment="bar" th:class="navi_menu">
		<li><a th:href="@{/item/list/filter}" th:text="検索"></a></li>
		<li><a th:href="@{/item/cart/list}" th:text="買い物かご"></a></li>
		<li><a th:href="@{/item/custom/input }" th:text="カスタム追加"></a></li>
		<li th:if="${session.user}"><a th:href="@{'/item/custom/' + ${session.user.id}}" th:text="マイカスタム"></a></li>
	</ul>
</body>

</html>