<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/common/slideShow.css}" />



</head>

<body  th:fragment="image">

    <div class="loopSlide">
        <ul>
            <li><img th:src="@{/static/img/anko.jpg}" class="image"></li>
            <li><img th:src="@{/static/img/anpan_cream.jpg}" class="image"></li>
            <li><img th:src="@{/static/img/img.jpg}" class="image"></li>
        </ul>
        <ul>
            <li><img th:src="@{/static/img/chocolate_croissant.jpg}" class="image"></li>
            <li><img th:src="@{/static/img/custard_cream_pan.jpg}" class="image"></li>
            <li><img th:src="@{/static/img/butter_cream_cro.jpg}" class="image"></li>
        </ul>
    </div>
    <p id="message">ちょっとかわいいパン屋さん「ちょいかわ」</p>




	<!-- <div th:fragment="image" th:class="slideGroup"> -->
        <!-- 画像は自由に入れ替えてください -->
    <!-- <div class="slide"><img th:src="@{/static/img/anko_tsubu.png}" alt="" class="image"><br>餃子</div>
    <div class="slide"><img th:src="@{/static/img/anpan_cream.jpg}" alt="" class="image"><br>クリームパン</div>
    <div class="slide"><img th:src="@{/static/img/img.jpg}" alt="" class="image"><br>あんぱん</div>

    <div class="slide"><img th:src="@{/static/img/anko_tsubu.png}" alt="" class="image"><br>餃子</div>
    <div class="slide"><img th:src="@{/static/img/anpan_cream.jpg}" alt="" class="image"><br>クリームパン</div>
    <div class="slide"><img th:src="@{/static/img/img.jpg}" alt="" class="image"><br>あんぱん</div>
	</div> -->
</body>

</html>