<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: sidebar(title='menu', body=~{::body/content()}, head=~{:: head/content()})}">

<head th:fragment="head">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/item/list.css}" />
</head>

<body class="list">
	<div id="itemTable">
		<h1>商品</h1>
		<p>※画像はイメージです。実際の商品とは異なる場合がございます。</p>
		<table>
			<thead>
			<tr >
				<th></th>
				<th>商品名</th>
				<th>値段</th>
				<th th:if="${session.user}">お気に入り</th>
				<th>追加日</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="item : ${items}">
				<td><img th:replace="~{common/util::img(item=${item}, class='icon')}" ></td>
				<td><a th:href="@{'/item/'+${item.id}}">[[${item.name}]]</a></td>
				<td>[[${item.price}]]</td>
				<td>
					<a th:if="${#lists.contains(session.user?.favorites.![id], item.id)}" style="color: pink;"
						th:href="@{'/user/favorite/cancel/list/'+${item.id}}">♥</a>
					<a th:unless="${#lists.contains(session.user?.favorites.![id], item.id)}"
						th:href="@{'/user/favorite/add/'+${item.id}}">♥</a>
				</td>
				<td>[[${{item.dateCreated}}]]</td>
			</tr>
			</tbody>
		</table>
	</div>
</body>

</html>