<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/common/adminlayout :: minimal(title='会員詳細', body=~{::body/content()}, head=~{:: head/content()})}"
    >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員詳細</title>
</head>

<body>
    <div>


    <h1 th:text="${user.name}"></h1>
    <div th:if="${session.admin.system == 1}">
        <form th:action="@{/admin/user/delete}" method="post">
            <input type="hidden" th:value="${user.id}" th:name="id">
            <input type="submit" value="削除する">
        </form>
    </div>
    <h2>レビュー</h2>
    <table>
        <thead>
            <tr>
                <th>説明</th>
                <th>評価</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="review: ${reviews}">        
                <td th:text="${review.description}"></td>
                <td th:text="${review.score}"></td>
                <div th:if="${session.system == 1}">
                <td>
                    <form th:action="@{/admin/user/review/delete}" method="post">
                        <input type="hidden" th:value="${review.item.id}" th:name="itemId">
                        <input type="hidden" th:value="${review.poster.id}" th:name="posterId">
                        <input type="submit" value="レビュー削除">
                    </form>
                </td>
                </div>
            </tr>
        <tbody>
    </table>
</div>

</body>

</html>