<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/common/adminlayout :: minimal(title='会員一覧', body=~{::body/content()}, head=~{:: head/content()})}"
    >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>会員一覧</title>
</head>
<body>
    <div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>パスワード</th>
                <th>メールアドレス</th>
                <th>作成日</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.id}"></td>
                <td><a th:href="@{'/admin/user/' + ${user.id}}" th:text="${user.name}"></a></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${{user.dateCreated}}"></td>         
            </tr>
        <tbody>
    </table>
</div>
</body>
</html>