<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>パスワード</th>
                <th>メールアドレス</th>
                <th>作成日</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="customer: ${customers}">
                <td th:text="${customer.id}"></td>
                <td><a th:href="@{'/admin/user/' + ${customer.id}}" th:text="${customer.name}"></a></td>
                <td th:text="${customer.password}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${#dates.format(customer.dateCreated, 'yyyy/MM/dd')}"></td>         
            </tr>
        <tbody>
    </table>
</body>
</html>