<!DOCTYPE html>
<ht xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/common/adminlayout :: minimal(title='管理者ホーム', body=~{::body/content()}, head=~{:: head/content()})}">
</ht>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}" />

    <title>管理者ホーム</title>
</head>

<body>
    <div id="adminItemTable">
        <h1>ホーム</h1>
        <span id="detailsButton">
            <a th:href="@{/admin/user/list}">会員一覧</a>
        </span>
        <span id="detailsButton"><a th:href="@{/admin/store/list}">既存商品一覧</a></span>
        <span id="detailsButton"> <a th:href="@{/admin/bread/list}">生地一覧</a>
        </span>
        <span id="detailsButton"> <a th:href="@{/admin/cream/list}">クリーム一覧</a>
        </span>


    </div>




</body>

</html>