<!DOCTYPE html>
<ht xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/common/adminlayout :: minimal(title='管理者ホーム', body=~{::body/content()}, head=~{:: head/content()})}"
    >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>管理者ホーム</title>
</head>

<body>
    <div>
        <h1>ホーム</h1>
        <a th:href="@{/admin/user/list}">会員一覧</a>
        <a th:href="@{/admin/store/list}">既存商品一覧</a>
        <a th:href="@{/admin/bread/list}">パン一覧</a>
        <a th:href="@{/admin/cream/list}">クリーム一覧</a>
    </div>




</body>

</html>