<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/adminlayout :: minimal(title='管理者ログイン', body=~{::body/content()}, head=~{:: head/content()})}"
    >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理者ログイン</title>
</head>

<body>
    <div>
        <h1>admin login</h1>
        <h2>名前とパスワードを入力してください。</h2>
        <p th:text="${errMessage}"></p>
        <form th:action="@{/admin/login}" method="post" th:object="${form}">
            <div>
                名前:<input type="text" th:field="*{name}"><br>
            </div>
            <div>
                パスワード:<input type="password" th:field="*{password}"><br>
            </div>
            <div>
                <input type="submit" value="ログイン">
            </div>
        </form>
    </div>
</body>

</html>