<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>カート追加</title>
</head>

<body>
    <div id="cart" th:object="${item}">
        <p>カートに追加</p>
        <p th:text="*{name}"></p>
        <form th:action="|@{/item/cart/list/}*{id}|" method="post">
            <!-- 個数を選択するドロップダウンリストを追加 -->
            <p><label for="quantity">個数：</label>
                <select id="quantity" name="quantity">
                    <th:block th:each="i : ${#numbers.sequence(1, 100)}">
                        <option th:value="${i}" th:text="${i}"></option>
                    </th:block>
                </select>
                <button type="submit">追加</button>
            </p>
        </form>
        <a th:href="|@{/item/detail/}*{id}|">戻る</a>
    </div>
</body>

</html>