<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{/common/layout :: sidebar(title='カート内容', body=~{::body/content()}, head=~{:: head/content()})}">

<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/order/cartList.css}" />
</head>

<body>
    <div id="cart">
        <!-- 値段の表示も今後追加します -->
        <h1>カート内容</h1>
        <table  id="keywords" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>商品番号</th>
                <th>商品名</th>
                <th>個数</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${session.user.cart}">
                <td th:text="${c.item.id}"></td>
                <td th:text="${c.item.name}"></td>
                <td>
                    <form th:action="@{/item/input}" method="post">
                        <select id="quantity" name="quantity">
                            <th:block th:each="i : ${#numbers.sequence(1, 100)}">
                                <option th:value="${i}" th:text="${i}" th:selected="${i==c.quantity}"></option>
                            </th:block>
                        </select>
                </td>
            </tr>
            
            </tbody>
        </table>
<div class="orderCheck">
        <button type="submit">注文画面へ</button>
        </form>
        <a th:href="@{/item/all}">戻る</a>
</div>

    </div>
</body>
</html>