<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>カート内容</title>
</head>

<body>
    <p>カート内容</p>
    <div id="cart">
        <table border="1">
            <tr>
                <th>ID</th>
                <th>商品名</th>
                <th>個数</th>
            </tr>
            <tr th:each="c : ${cart}">
                <td th:text="${c.item.id}"></td>
                <td th:text="${c.item.name}"></td>
                <td th:text="${c.quantity}"></td>
            </tr>
        </table>
        <a th:href="@{/item/input}">注文画面へ</a>
        <a th:href="@{/item/all}">戻る</a>

    </div>
</body>

</html>