<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>カート内容</title>
</head>

<body>
    <p>カート内容</p>
    <div id="cart">
        <table border="1">
            <tr>
                <th>ID</th>
                <th>商品名</th>
                <th>個数</th>
            </tr>
            <tr th:each="c : ${session.user.cart}">
                <td th:text="${c.item.id}"></td>
                <td th:text="${c.item.name}"></td>
                <td>
                    <form th:action="@{/item/input}" method="post">
                        <select id="quantity" name="quantity">
                            <th:block th:each="i : ${#numbers.sequence(1, 100)}">
                                <option th:value="${i}" th:text="${i}" th:selected="${i==c.quantity}"></option>
                            </th:block>
                        </select>
                </td>
            </tr>
        </table>
        <button type="submit">注文画面へ</button>
        </form>
        <a th:href="@{/item/all}">戻る</a>
    </div>
</body>
</html>