<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>注文完了 | クリームパン屋ちょいかわ</title>
  </head>
  <body>
    <h2>注文完了</h2>
      <p>ご注文ありがとうございました！</p>
      <table th:object="${order}">
	      <tr>
          <th>宛先</th>
          <td>[[*{address.addresseeName}]]</td>
        </tr>
	      <tr>
          <td/>
          <td>[[*{address.address}]]</td>
        </tr>
	      <tr>
          <th>支払方法</th>
          <td>[[*{paymentMethod}]]</td>
        </tr>
	      <tr th:if="*{paymentMethod} == 0">
          <th/>
          <td>[[*{creditCard.name}]] ...[[*{#strings.substring(creditCard.number, 12)}]]</td>
        </tr>
	      <tr>
          <th>備考</th>
          <td>[[*{optionalDetails}]]</td>
        </tr>
      </table>
  </body>
</html>
