<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<title>注文入力</title>
</head>

<body>
        <h1>注文</h1>
        <form>
           <div>
              <input id="name" class="input-text js-input" type="text" required>
              <label class="label" for="name">Name</label>
           </div>
           <div>
              <input id="email" class="input-text js-input" type="email" required>
              <label class="label" for="email">E-mail</label>
           </div>
           <div>
              <input id="message" class="input-text js-input" type="text" required>
              <label class="label" for="message">Message</label>
           </div>
           <div >
              <input class="submit-btn" type="submit" value="Submit">
           </div>
        </form>
     


</body>

</html>