<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{common/layout :: sidebar(title='menu', body=~{::body/content()})}">

<body>
	<h2>注文履歴</h2>
	<div>
	<table>
		<tr th:each="order : ${session.user.orders}">
			<td>
				[[${{order.dateCreated}}]]
			</td>
			<td>
				[[${order.price}]]
			</td>
			<td>
				<ul>
					<li th:each="entry : ${#lists.sublist(order.items, 3)}">
						[[${entry.item.name}]] [[${entry.amount}]]
					</li>
				</ul>
			</td>
		</tr>
	</table>
	</div>
</body>

</html>