<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
th:replace="~{common/layout :: sidebar(title='Document', body=~{::body/content()}, head=~{:: head/content()})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/item/custom/list.css}" />
</head>
<body>
    <div id="customList">
    <h1>[[${session.user.name}]]さんのカスタム商品</h1>
    <table>
        <thead>
            <tr>
                <th>商品名</th>
                <th>生地</th>
                <th>中身</th>
                <th>値段</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item: ${session.user.createdItems}">
                <td><a th:href="@{|/item/${item.id}|}">[[${item.name}]]</a></td>
                <td>[[${item.bread.name}]]</td>
                <td><span th:each="cream : ${item.creams}">
                    [[${cream.name}]]
                </span></td>
                <td>[[${item.price}]]</td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/user/home}">戻る</a>
    </div>
</body>
</html>