<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout :: sidebar(title='クレジットカード一覧', body=~{::body/content()}, head=~{:: head/content()})}">

<head th:fragment="head">
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/user/details.css}" />
</head>

<body>
	<form method="post" th:object="${form}">
		<table>
			<tr>
				<th>カード呼名</th>
				<td>
					<input type="text" th:field="*{name}">
				</td>
			</tr>
			<tr>
				<th>カード名義</th>
				<td>
					<input type="text" th:field="*{holderName}">
				</td>
			</tr>
			<tr>
				<th>カード番号</th>
				<td>
					<input type="text" th:field="*{no}">
				</td>
			</tr>
			<tr>
				<th>CVC</th>
				<td>
					<input type="password" th:field="*{cvc}">
				</td>
			</tr>
			<tr><td colspan="2">
				<input type="submit" value="登録">
			</td></tr>
		</table>
	</form>
</body>
</html>