<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout :: sidebar(title='カード詳細', body=~{::body/content()}, head=~{:: head/content()})}">

<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/user/details.css}" />
</head>
<body>
	<table th:object="${card}">
		<thead>
			<th colspan="2">[[*{name}]]</th>
		</thead>
		<tr>
			<th>カード名義</th>
			<td>[[*{holderName}]]</td>
		</tr>
		<tr>
			<th>カード番号</th>
			<td>**** **** **** [[*{#strings.substring(number, 12)}]]</td>
		</tr>
	</table>
	<a th:href="@{/user/home}"><button>戻る</button></a>
</body>
</html>