<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>口コミ</title>
	
	<style>
		img {
			width: 250px;
		}
		.yellow {
			color: rgb(255, 146, 69);
		}
	</style>
</head>
<body>
	<h2>[[${poster.name}]]さんのロコミ</h2>
	<div th:each="review : ${poster.reviews}" th:object="${review}" style="display: flex; flex-flow: row nowrap;">
		<th:block th:if="${#strings.contains(item.getClass(),'StoreItemBean')}">
			<img th:replace="~{common/util::img(*{item})}">
		</th:block>
		<div style="display: flex; flex-flow: column nowrap;">
			<h4>[[*{item.name}]]</h4>
			<div th:replace="~{common/util::stars(*{score})}"/>
			<p>[[*{#strings.substringBefore(description, '&#10;')?:description}]]</p>
		</div>
	</div>
</body>
</html>