<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout :: sidebar(title='ユーザ情報', body=~{::body/content()}, head=~{:: head/content()})}">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/user/details.css}" />
</head>

<body>
    <div class="userDetails">
        <div class="detailsInfo">
            <h1>ユーザ情報</h1>
            <a th:href="@{home}"><button>戻る</button></a>
            <a th:href="@{edit}"><button>編集</button></a>
        </div>

        <table id="keywords" cellspacing="0" cellpadding="0" class="detailsTable">
            <tr>
                <th>ユーザーID</th> <td th:text="${session.user.id}"></td>
            </tr>
            <tr>
                <th>名前</th><td>
                    <ruby>
                        <rb>[[${session.user.name}]]</rb>
                        <rt>[[${session.user.reading}]]</rt>
                    </ruby>
                </td>
            </tr>
            <tr>
                <th>パスワード</th><td>***</td>
            </tr>
            <tr>
                <th>メールアドレス</th><td th:text="${session.user.email}"></td>
            </tr>
            <tr>
                <th>作成日</th><td th:text="${{session.user.dateCreated}}"></td>
            </tr>
        </table>


       

    </div>
</body>

</html>