<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{common/layout :: sidebar(title='お気に入り', body=~{::body/content()}, head=~{:: head/content()})}">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
    <h2>あなたのお気に入り商品</h2>

    <table border="1">
        <tr>
            <th>商品id</th>
            <th>商品名</th>
            <th>価格</th>
        </tr>
        <tr th:each="favorite : ${session.user.favorites}">
            <td th:text="${favorite.id}"></td>
            <td th:text="${favorite.name}"></td>
            <td th:text="${favorite.price}"></td>
        </tr>
    </table>
    <a th:href="@{/user/home}">戻る</a>
</div>
</body>
</html>