<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
</head>

<body>
    <h1>user login</h1>
    <div>
        <h2>名前とパスワードを入力してください。</h2>
		<p th:text="${errMessage}"></p>
        <form th:action="@{login}" method="post" th:object="${form}">
            <div>
                メール:<input type="email" th:field="*{email}"><br>
            </div>
            <div>
                パスワード:<input type="password" th:field="*{password}"><br>
            </div>
            <div>
                <input type="submit" value="ログイン">
            </div>
        </form>
</body>

</html>