#customList{
    background-color: rgb(214, 223, 227);
    padding-top: 20px;
}

#customList h1{
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
    text-align: center;
}

div #customList{
    width: 100%;
    height: 100%;
    
    margin-bottom: 36px;
    background-color: rgb(214, 223, 227);
    border-radius: 10px;
  }
  
  #customList table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 650px;
        box-shadow: 0 0 15px -6px #00000073;
    margin-bottom: 40px;
  }
  #customList table tr {
    background-color: #fff;
  }
  #customList table tbody tr:hover{
    background-color: #fffae9;
  }
  #customList table th,
  #customList table td {
    padding: .35em 1em;
    border-bottom: 1px solid #eee;
  }
  #customList table thead th {
      font-size: .85em;
      padding: 1em;
  }
  #customList table thead tr{
    background-color: #FFC107;
    color:#fff;
  }
  #customList table tbody th {
    text-align: left;
    font-size: .8em;
  }
 #customList h1{
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
text-align: center;
margin: 20px 0px 45px 0px;

 }
  @media screen and (max-width: 600px) {
    table{width: 100%;}
  }

  .orderCheck{
    height: auto;
    text-align: center;
  }