<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout :: sidebar(title='宛先登録', body=~{::body/content()}, head=~{:: head/content()})}">

<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/user/details.css}" />
</head>

<body>
	<form th:object="${form}" method="post">
		<table>
			<tr>
				<th>
					宛先プロフィール名
				</th>
				<td>
					<input type="text" th:field="*{name}">
				</td>
			</tr>
			<tr>
				<th>
					郵便番号
				</th>
				<td>
					<input type="text" th:field="*{postCode}" placeholder="xxx-xxxx">
				</td>
			</tr>
			<tr>
				<th>
					住所
				</th>
				<td>
					<input type="text" th:field="*{address}">
				</td>
			</tr>
			<tr>
				<th>
					電話番号
				</th>
				<td>
					<input type="text" th:field="*{phoneNumber}">
				</td>
			</tr>
			<tr>
				<th>
					メールアドレス
				</th>
				<td>
					<input type="email" th:field="*{email}" placeholder="taro@example.co.jp">
				</td>
			</tr>
			<tr>
				<th>
					宛先名
				</th>
				<td>
					<input type="text" th:field="*{addresseeName}" placeholder="山田太郎">
				</td>
			</tr>
			<tr>
				<th>
					宛先フリガナ
				</th>
				<td>
					<input type="text" th:field="*{addresseeReading}" placeholder="ヤマダ　タロウ">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="登録">
				</td>
			</tr>
		</table>
	</form>
</body>

</html>