<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout :: sidebar(title='宛先一覧', body=~{::body/content()}, head=~{:: head/content()})}">

<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/user/details.css}" />
</head>

<body>
	<div>
		<h2>住所一覧</h2>
		<div class="horizontal centered spaced listed" th:each="address : ${session.user.addresses}">
			<div>
				<h3>[[${address.name}]]</h2>
				<small>[[${address.address}]]</small>
			</div>

			<a th:href="@{|/user/address/edit/${address.id}|}">
				<button>編集</button>
			</a>
		</div>

		<a th:href="@{/user/address/add}"><button class="isolated add-button">追加</button></a>
	</div>
</body>

</html>