<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/common/adminlayout :: minimal(title='クリーム詳細', body=~{::body/content()}, head=~{:: head/content()})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}" />

    <title th:text="${cream.name}"></title>
</head>

<body>
    <div th:object="${cream}" class="reviewHome">
        <div class="reviewLeft">
            <table>
                <tr>
                    <th>名前</th>
                    <td id="detailTitle">[[*{name}]]</td>
                </tr>
                <tr>
                    <th>説明</th>
                    <td id="detailInfo">[[*{description}]]</td>
                </tr>
                <tr>
                    <th>発売日</th>
                    <td id="detailInfo" th:text="${#dates.format(cream.dateCreated, 'yyyy/MM/dd')}"></td>
                </tr>
                <tr>
                    <th>価格</th>
                    <td id="detailInfo">
                        [[*{price}]]円
                    </td>
                </tr>
            </table>
            <span th:if="${session.admin.system}">
                <form th:action="@{/admin/cream/update/} + ${cream.id}" method="get">
                    <input class="btnUpdate" type="submit" value="更新する">
                </form>
                <form th:action="@{/admin/cream/delete}" method="post">
                    <input type="hidden" th:value="${cream.id}" th:name="id">
                    <input class="btnDelete" type="submit" value="削除する">
                </form>
            </span>
        </div>
        <div class="reviewRight"><img th:src="@{'/static/img/' + ${cream.image}}"  /></div>
    </div>
</body>

</html>