<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/common/adminlayout :: minimal(title='クリーム一覧', body=~{::body/content()}, head=~{:: head/content()})}"
    >


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}" />
    <title>クリーム一覧</title>
</head>

<body>
    <div id="adminItemTable">
        <h1>クリーム一覧</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>値段</th>
                <th>作成日</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cream: ${creams}">
                    <td th:text="${cream.id}"></td>
                    <td><a th:href="@{'/admin/cream/' + ${cream.id}}" th:text="${cream.name}"></a></td>
                    <td th:text="${cream.price}"></td>
                    <td th:text="${{cream.dateCreated}}"></td>
            </tr>
        <tbody>
    </table>
</div>
</body>

</html>