<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{/common/layout :: sidebar(title='menu', body=~{::body/content()}, head=~{:: head/content()})}">

<head>
    <meta charset="UTF-8">
    <title>カート追加</title>
</head>

<body>
    <div id="cart" th:object="${item}">
        <p>カートに追加</p>
        <p th:text="'商品名：'+*{name}"></p>
        <p th:text="'値段：'+*{price}+'円'"></p>
        <form th:action="|@{/item/cart/add/}*{id}|" method="post">
            <!-- 個数を選択するドロップダウンリストを追加 -->
            <p><label for="quantity">個数：</label>
                <select id="quantity" name="quantity">
                    <th:block th:each="i : ${#numbers.sequence(1, 100)}">
                        <option th:value="${i}" th:text="${i}"></option>
                    </th:block>
                </select>
                <button type="submit">追加</button>
            </p>
        </form>
        <p><a th:href="|@{/item/detail/}*{id}|">
                <button type="button">戻る</button>
            </a></p>
    </div>
</body>

</html>