.btnDelete {
    background-color: red;
    border-radius: 50px;
    color: #fff;
    margin: 15px 220px;
    padding: 5px 10px ;
  }

  .btnUpdate {
    background-color: green;
    border-radius: 50px;
    color: #fff;
    margin: 15px 220px;
    padding: 5px 10px ;
  }

.reviewHome{
    display: flex;
    background-color: rgb(214, 223, 227);
    height: auto;
}

.reviewLeft{
    margin-top: 30px;
    padding-left: 40px;
}

.reviewLeft table{
    margin-left: 60px;
}

.reviewRight{
    height: auto;
}

.reviewRight img{
    margin-top: 40px;
    width: 400px;
    height: auto;
}

#userReview{
    height: auto;
    width: auto;
}

.elem{
    width: auto;
}

#reviewTitle{
 margin-left: 70px;
}

#detailTitle{
    font-size: 40px;
    text-align: center;
}

#detailInfo{
    text-align: center;
}

.review{
    margin-left: 70px;
    height: auto;
}

#no button{
    height: 50px;
    width: 150px;
}

.delete-button{
    padding-top: 30px;
    width: auto;
    text-align: center;
    height: auto;
    
}

.userDetails{
   
    background-color: rgb(214, 223, 227);
    text-align: center;
    
}

.detailsTable{
    max-width: 400px;
	width: 30%;
    margin: 0 auto;
}
.detailsTable th,
.detailsTable td {
	display: block;
	border: none;
}
.detailsTable th 
.detailsTable ol{
	font-weight: bold;
	padding: 14px 0 4px;
}
.detailsTable ol{
    margin-bottom: 0;
}
.detailsTable td {
	background: white;
}

.detailsInfo{
    width: auto;
    margin: 30px 140px 0px 50px;
}
.detailsInfo h1{
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
    margin-bottom: 30px;
}
.orderCheck{
    width: auto;
}

#adminItemTable{
    width: 100%;
    height: auto;
    background-color: rgb(214, 223, 227);
    border-radius: 10px;
    text-align: center;
  
    
   
  
    table {
        
      border-collapse: collapse;
      margin: 30px auto;
      padding: 0;
      width: 750px;
          box-shadow: 0 0 15px -6px #00000073;
      
  
      tr {
        font-size: 15px;
      }
  
      thead {
        th {
          font-size: .85em;
          padding: 1em;
          font-family: serif;
        }
        tr{
          background-color: #2f7e91;
          color:#fff;
        }
      }
  
      tbody {
        tr {
          background-color: #fff;
  
          &:hover {
            background-color: #d4f0fd;
          }
  
          td {
            font-family:Georgia, 'Times New Roman', Times, serif;
  
            a{
              display: block;
              width: 100%;
              height: 100%;
              text-decoration: none;
              color: black;
            }
          }
        }
      }
  
      th,
      td {
        padding: .15em 1em;
      }
      tr {
        border-bottom: 1px solid #eee;
      }
    }
  
    
    p{
      text-align: end;
      font-size: 10px;
      margin-bottom: 30px;
    }
    
    h1{
      margin: 20px 0px 25px 0px;
      text-align: center;
      font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
    }
  }

  .adminBody{
    background-color: rgb(214, 223, 227);
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
    padding-top: 20px;
    text-align: center;
    height: auto;
}

.adminBody input{
    margin-bottom: 10px;
}

.userDetails{
    display: flex;
    background-color: rgb(214, 223, 227);
    height: auto;
}

.detailsTable{
    max-width: 400px;
    width: 50%;
}
.detailsTable th,
.detailsTable td {
    display: block;
    border: none;
    margin-bottom: 10px;
}
.detailsTable th 
.detailsTable ol{
    font-weight: bold;
    padding: 14px 0 4px;
}
.detailsTable ol{
    margin-bottom: 0;
}
.detailsTable td {
    background: white;
}

.detailsInfo{
    width: 40%;
    margin: 30px 140px 0px 50px;
}
.detailsInfo h1{
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
    margin-bottom: 30px;
}
.orderCheck{
    width: 100%;
    height: 0;
}


#detailsButton{
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }
  
  #detailsButton a {
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
  }
  
  #detailsButton a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(107,182,255, 0.2);
  transition: all 0.3s;
  }
  #detailsButton a:hover::before {
  opacity: 0;
  transform: scale(0.4, 0.4);
  }
  #detailsButton a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid rgb(107,182,255, .4);
  transform: scale(1.2, 1.2);
  }
  #detailsButton a:hover::after {
  opacity: 1;
  transform: scale(1, 1);
  }
  