@charset "UTF-8";

/* ---- 共通 ---- */
/* スキルアップテクニック1-1
 * html要素に対しmin-heightプロパティを付けることで、
 * 最小でも表示領域が画面の高さを持つことになります。
 * これにより画面の一番下まで表示領域を拡大し、
 * footerを画面下に配置することができます。
 * positionプロパティは絶対位置表示を可能にし、
 * 値relativeを設定することで子要素(今回はfooter要素)の配置基準になります。
 */
html {
	min-height: 100%;
	position: relative;
}

/* スキルアップテクニック1-2
 * 下方向にmarginの余白を設定することでfooterの表示領域を確保します。
 * paddingプロパティの値0は、body要素が持つ枠の領域を取り消します。
 */
body {
	margin: 0 0 0 0px;
	padding: 0;
}

.main{
	padding: 10px;
	background-color: rgb(234, 233, 230);
	width: 100%;
	min-height: 438px;
	height: auto;
}

.user_info{
    text-align: right;
    
}


.horizontal {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	height: auto;

	&.centered {
		align-items: center;
	}
	
	&.listed {
		width: 150px;
		border-radius: 5px;
		background-color: blanchedalmond;
		border: 1.5px solid slategray;
		padding: 10px 12px;

		h3 {
			margin: 4px 0;
		}
		.grayed {
			color: gray;
		}
	}
	
	&.spaced {
		justify-content: space-around;
		flex-grow: 0;
		flex-shrink: 0;
	}
}

.isolated {
	margin: 30px 40px;
}
.add-button {
	border-radius: 3px;
	padding: 5px 7px;
}


div{
	color: rgb(0, 0, 0);
}

p{
	cursor: default;
}

a{
	text-decoration: none;
}