.user_container{
    background-color: aliceblue;
    height: auto;
    width: 100%;
    
    table {
        display: flex;
        justify-content: center;
        position: relative;
        text-align:end;
    }
}

input{
    height: 25px;
    margin-top: 10px;
    border-radius: 20%;
}
.label{
    text-align: center;
    padding-top: 10px;
}

