.slideGroup{
    position: relative;
    width: 100%;
    min-height: 250px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-top: 10px;
    background-color: rgb(214, 223, 227);
}

.slide{
    flex: 0 0 auto;
    max-width: 250px;
    height: 100%;
    margin-right: 20px;
    background-color: rgb(214, 223, 227);
    text-align: center;
    font-weight: bold;
}

#message {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-500%);
    padding:0;
    margin:0;
    font-size:30px;
    color: red;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.loopSlide {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    opacity: 0.7;
    ul {
        padding: 0;
        width: 100dvw;
        display: flex;
        justify-content: space-around;
        flex-shrink: 0;
        margin: 0;

        &:first-child {
            animation: slide1 80s -40s linear infinite;
        }
        &:last-child {
            animation: slide2 80s linear infinite;
        }

        li {
            display: inline-block;
            width: fit-content;
            min-width: 150px;
            list-style: none;
            text-align: center;

            img {
                display: block;
                height: 200px;
                margin: 10px 0;
                margin-left: 0;
            }
        }
    }
}

@keyframes slide1 {
    0% {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slide2 {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(-200%);
    }
}

