<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ホーム|クリームパン屋ちょいかわ</title>
</head>

<body>
    <div id="home">
        <p>モドリッチのクリームパン屋</p>
        <a th:href="@{/item/cream/list}">クリーム一覧</a>
        <a th:href="@{/item/bread/list}">パン一覧</a>
        <a th:href="@{/item/list}">カスタムパン一覧</a>
        <a th:href="@{/user/favorite}">お気に入り</a>
        <a th:href="@{/item/custom/input}">カスタム追加</a>
        <a th:if="${session.user}" th:href="|@{/item/custom/}${session.user.id}|">マイカスタム</a>
        <a th:href="@{/item/cart/list}">カート一覧</a>
        <a th:href="@{/item/order/form}">注文画面へ</a>

    </div>
</body>

</html>