<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/common/adminlayout :: minimal(title='変更完了', body=~{::body/content()}, head=~{:: head/content()})}"
    >

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}" />
        <title>生地変更完了</title>
    </head>

    <body>
        <div class="adminBody">
            <h1>処理が完了しました。</h1>
            <a th:href="@{/admin/bread/list}">一覧へ戻る</a>
        </div>
    </body>

    </html>