<!DOCTYPE html>
<ht xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/common/adminlayout :: minimal(title='生地詳細', body=~{::body/content()}, head=~{:: head/content()})}"
    >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生地詳細</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/item/details.css}" />
</head>

<body>

<div>
    <h1 th:text="${bread.name}"></h1>
    <div th:if="${session.admin.system}">
    <a th:href="@{/admin/bread/update/} + ${bread.id}">更新する</a>
    <form th:action="@{/admin/bread/delete}" method="post">
        <input type="hidden" th:value="${bread.id}" th:name="id">
        <input type="submit" value="削除する">
    </form>
    </div>
</div>
</body>

</html>