<!DOCTYPE html>
<ht xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/common/adminlayout :: minimal(title='生地詳細', body=~{::body/content()}, head=~{:: head/content()})}"
    >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生地詳細</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}" />
</head>

<body>
<div th:object="${bread}" class="reviewHome">
    <div class="reviewLeft">
        <table>
            <tr>
                <th>名前</th>
                <td id="detailTitle">[[*{name}]]</td>
            </tr>
            <tr>
                <th>説明</th>
                <td id="detailInfo">[[*{description}]]</td>
            </tr>
            <tr>
                <th>発売日</th>
                <td id="detailInfo" th:text="${#dates.format(bread.dateCreated, 'yyyy/MM/dd')}"></td>
            </tr>
            <tr>
                <th>価格</th>
                <td id="detailInfo">
                    [[*{price}]]円
                </td>
            </tr>
        </table>
        <span th:if="${session.admin.system}">
            <form th:action="@{/admin/bread/update/} + ${bread.id}" method="get">
                <input class="btnUpdate" type="submit" value="更新する">
            </form>
            <form th:action="@{/admin/bread/delete}" method="post">
                <input type="hidden" th:value="${bread.id}" th:name="id">
                <input class="btnDelete" type="submit" value="削除する">
            </form>
        </span>
    </div>
    <div class="reviewRight"><img th:replace="~{common/util::img(*{image}, *{name})}" /></div>
</div>
</body>

</html>