<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生地詳細</title>
</head>

<body>


    <h1 th:text="${bread.name}"></h1>
    <div th:if="${session.system == 1}">
    <a th:href="@{/admin/bread/update/} + ${bread.id}">更新する</a>
    <form th:action="@{/admin/bread/delete}" method="post">
        <input type="hidden" th:value="${bread.id}" th:name="id">
        <input type="submit" value="削除する">
    </form>
    </div>
</body>

</html>