<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生地一覧</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>値段</th>
                <th>作成日</th>
            
            </tr>
        </thead>
        <tbody>
            <tr th:each="bread: ${breads}">
              
                    <td th:text="${bread.id}"></td>
                    <td><a th:href="@{'/admin/bread/' + ${bread.id}}" th:text="${bread.name}"></a></td>
                    <td th:text="${bread.price}"></td>
                    <td th:text="${#dates.format(bread.dateCreated, 'yyyy/MM/dd')}"></td>
                

                
            </tr>
        <tbody>
    </table>


</body>

</html>