<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/adminlayout :: minimal(title='生地更新', body=~{::body/content()}, head=~{:: head/content()})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}" />
    <title>生地変更</title>
</head>

<body>
    <div class="adminBody">
        <h1>生地変更</h1>
        <form class="customInput" th:action="@{/admin/bread/update}" method="post" th:object="${breadForm}">
            <input type="hidden" th:value="${bread.id}" name="id">
            <input type="hidden" th:value="${bread.deleted}" name="deleted">
            <p th:errors="*{name}" class="Error"></p>
            <div>
                名前:<input type="text" th:value="${bread.name}" name="name" required><br>
            </div>
            <p th:errors="*{reading}" class="Error"></p>
            <div>
                読み仮名:<input type="text" th:value="${bread.reading}" name="reading"><br>
            </div>
            <p th:errors="*{price}" class="Error"></p>
            <div>
                値段:<input type="number" th:value="${bread.price}" name="price"><br>
            </div>
            <p th:errors="*{description}" class="Error"></p>
            <div>
                説明:<input type="text" th:value="${bread.description}" name="description"><br>
            </div>
            <div>
                <input class="btnUpdate" type="submit" value="変更">
            </div>

        </form>
    </div>
</body>

</html>