<!DOCTYPE html>
<html lang="en" >
<head th:fragment="head">
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		img {
			width: 300px;
		}
		.yellow {
			color: goldenrod;
		}
	</style>
</head>
<body th:object="${review}">
	<h3>[[*{item.name}]]</h3>
	<h4>[[*{poster.name}]]</h4>
	<h6>[[*{#dates.format(dateCreated, 'yyyy/MM/dd')}]]</h6>
	<img th:replace="~{/common/util::img(*{item.image}, *{item.name})}">
	<div th:replace="~{/common/util::stars(*{score})}"/>
	<p th:each="line: *{#strings.arraySplit(description, '&#10;')}">[[${line}]]</p>
</body>
</html>