<!DOCTYPE html>
<html lang="en" 
th:replace="~{/common/layout :: sidebar(title='Document', body=~{::body/content()}, head=~{:: head/content()})}">
<head th:fragment="head">
	<meta charset="UTF-8">
	<style>
		img {
			width: 300px;
		}
		.yellow {
			color: goldenrod;
		}
	</style>
</head>
<body>
	<div>
	<th:block th:object="${review}">
		<h3>[[*{item.name}]]</h3>
		<h4>[[*{poster.name}]]</h4>
		<h6>[[*{{dateCreated}}]]</h6>
		<img th:replace="~{common/util::img(*{item.image}, *{item.name})}">
		<div th:replace="~{common/util::stars(*{score})}"/>
		<p th:each="line: *{#strings.arraySplit(description, '&#10;')}">[[${line}]]</p>
	</th:block>
	</div>
</body>
</html>