<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
th:replace="~{common/layout :: minimal(title='ログイン', body=~{::body/content()}, head=~{:: head/content()})}">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/user/register/input.css}" />
</head>

<body>
    <div class="registerInput">
    <h1>ユーザ登録</h1>
    <form th:action="@{complete}" method="post" th:object="${registerForm}" class="Inputform">
        名前　　　　　:<input type="text" th:field="*{name}"><br>
        よみがな　　　:<input type="text" th:field="*{reading}"><br>
        パスワード　　:<input type="password" th:field="*{password}"><br>
        メールアドレス:<input type="email" th:field="*{email}"><br>
        <div class="formInput"><input type="submit" value="登録"></div>
    </form>
    </div>
</body>

</html>