<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout :: sidebar(title='ユーザ情報編集', body=~{::body/content()}, head=~{:: head/content()})}">

<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/user/edit/input.css}" />
    <style>
        .error-message {
            color: red;
        }
    </style>
</head>

<body>
    <div class="edit main">
        <div class="editLeft">
            <h2>編集</h2>
            
        </div>
        <div class="editRight">
            <form th:action="@{edit}" method="post" th:object="${form}">
                <div id="edit-form">名前　　　　　　<input type="text" th:field="*{name}">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></span></div>
                <div id="edit-form">よみがな　　　　<input type="text" th:field="*{reading}">
                <span th:if="${#fields.hasErrors('reading')}" th:errors="*{reading}" class="error-message"></span></div>
                <div id="edit-form">パスワード　　　<input type="password" th:field="*{password}">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></span></div>
                <div id="edit-form">メールアドレス　<input type="email" th:field="*{email}">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error-message"></span></div>
                <div id="edit-form"><input type="submit" value="確定">
            </form>
            <a th:href="@{/user/details}"><button type="button">戻る</button></a></div>
        </div>
    </div>
</body>

</html>