.reviewHome{
    display: flex;
    background-color: rgb(214, 223, 227);
}

.reviewLeft{
    margin-top: 30px;
    padding-left: 40px;
}

.reviewLeft table{
    margin-left: 70px;
}

.reviewRight{
    height: auto;
}

.reviewRight img{
    margin-top: 40px;
    width: 400px;
    height: auto;
}

#userReview{
    height: auto;
    width: auto;
}

.elem{
    width: auto;
}

#reviewTitle{
 margin-left: 70px;
}

#detailTitle{
    font-size: 40px;
}

#detailInfo{
    text-align: end;
}

.review{
    margin-left: 70px;
    height: auto;

    :where(.score_input) {
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: start;

        label {
            color: gray;
        }

        :where(&:has(input:checked)) {
            label {
                color: black;
            }
        }
    }

    :where(.elem:hover) {

        label,
        ~.elem label {
            color: color-mix(in oklab, goldenrod 50%, grey);
        }
    }

    .elem:has(:checked) {

        & label,
        &~.elem label {
            color: goldenrod;
        }
    }
}