

#itemTable{
  width: 100%;
  height: 100%;
  background-color: rgb(214, 223, 227);
  border-radius: 10px;
  margin-bottom: 100px;
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 750px;
        box-shadow: 0 0 15px -6px #00000073;
    margin-bottom: 40px;

    tr {
      font-size: 30px;
    }

    thead {
      th {
        font-size: .85em;
        padding: 1em;
        font-family: serif;
      }
      tr{
        background-color: #2f7e91;
        color:#fff;
      }
    }

    tbody {
      tr {
        cursor: pointer;
        background-color: #fff;

        &:hover {
          background-color: #d4f0fd;
        }

        td {
          font-family:Georgia, 'Times New Roman', Times, serif;

          a{
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
          }
        }
      }
    }

    th,
    td {
      padding: .15em 1em;
    }
    tr {
      border-bottom: 1px solid #eee;
    }
  }

  
  p{
    text-align: end;
    font-size: 10px;
    margin-bottom: 30px;
  }
  
  h1{
    margin: 20px 0px 5px 0px;
    text-align: center;
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
  }
}

.icon{
  width: 150px;
  background-position: left 5px center;
  background-repeat: no-repeat;
}


body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}





@media screen and (max-width: 600px) {
  table{width: 100%;}
}




