.search{
    background-color: rgb(214, 223, 227);
    padding-top: 20px;
}
.search h1{
    margin: 0;
    text-align: center;
}


.searchTop{
    display: flex;
}

.searchInput {
    text-align: center;
}
.searchInput input{
    padding-left: 10px;
    border-radius: 20px;
    height: 35px;
    width: 500px;
}

.creamListName{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 800px;

    position: relative;
    padding: 0.5em 1em;
    border: solid 3px #79befe;
    border-radius: 14px;
}

.selectCreamTitle{
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #79befe;
    font-weight: bold;
    background-color: rgb(214, 223, 227);
}

.search .creamListName .selectCream{
    margin: 0; 
    padding: 0;
}

.searchListBottom{
    padding-right: 40px;
    text-align: end;
}

.search table{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.search h3{
    margin-top: 20px;
    text-align: center;
}