<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/common/adminlayout :: minimal(title='既存商品詳細', body=~{::body/content()}, head=~{:: head/content()})}"
    >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>既存商品詳細</title>
</head>

<body>
    <div>
    <h1 th:text="${item.name}"></h1>
    <div th:if="${session.system == 1}">
        <a th:href="@{/admin/store/update/} + ${item.id}">更新する</a>
        <form th:action="@{/admin/store/delete}" method="post">
            <input type="hidden" th:value="${item.id}" th:name="id">
            <input type="submit" value="削除する">
        </form>
    </div>
</div>
</body>

</html>