<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/common/adminlayout :: minimal(title='既存商品一覧', body=~{::body/content()}, head=~{:: head/content()})}"
    >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>既存商品一覧</title>
</head>

<body>
    <div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>値段</th>
                <th>説明</th>
                <th>作成日</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item: ${items}">
                    <td>[[${item.id}]]</td>
                    <td><a th:href="|@{/admin/store/}${item.id}|" >[[${item.name}]]</a></td>
                    <td>[[${item.price}]]</td>
                    <td>[[${item.description}]]</td>
                    <td>[[${{item.bread.dateCreated}}]]</td>
            </tr>
        <tbody>
    </table>
</div>
</body>

</html>