<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{/common/adminlayout :: minimal(title='既存商品更新', body=~{::body/content()}, head=~{:: head/content()})}"
    >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/admin.css}" />
    <title>既存商品変更</title>
</head>

<body>
    <div class="adminBody">
    <h1>既存商品変更</h1>
    <form th:action="@{/admin/store/update}" method="post" >

        <input type="hidden" th:value="${item.id}" name="id">
        <input type="hidden" th:value="${item.deleted}" name="deleted">

        <div>
            名前:<input type="text" th:value="${item.name}" name="name"><br>
        </div>
        <div>
            読み仮名:<input type="text" th:value="${item.reading}" name="reading"><br>
        </div>
        <div>
            説明:<input type="text" th:value="${item.description}" name="description" required><br>
        </div>
        <div>
            <input class="btnUpdate" type="submit" value="変更">
        </div>
        
    </form>
</div>
</body>